<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">

</head>
<body>
    <header id="navbar">
        <nav class="container">
            <div class="logo">Ambulo Properties</div>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#properties">Properties</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="#apply" class="nav-link">Apply as Tenant</a></li>
                <li><a href="login.html" class="nav-link">Login</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>